@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body
{
  color: white;
  background: pink;
  font-family: 'Montserrat', sans-serif;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
h3 {
  border-radius: 10px;
  letter-spacing: 10px;
  font-size: 18px;
}
